*{
    margin: 0px;
    padding: 0px;
    font-family: 'Times New Roman', Times, serif;
}
.logo img{
    width: 70px;
    border-radius: 100px;
    display: flex;
    align-items: center;
}
.listitems ul{
    list-style-type: none;
    display: flex;
}
.listitems ul li{
    margin:15px 20px;
}
.listitems ul li a{
    border-top: 1px solid #0d0e0e;
    text-decoration: none;
    font-size: 25px;
    color: black;
}
.listitems ul li a:hover{
    border-top: 4px solid #7c7979;
    box-shadow:8px #b2bec3;
}
.navbar1{
    display: flex;
    align-items: center;
}
.btnlog{
    padding: 10px;
    background: transparent;
    transition: all 2s;
    position: relative;
    border-top: 3px solid #55efc4;
    border-style: none;
    font-size: 25px;
    color: black;
}
.btnlog::after{
    content: "";
    position: absolute;
    width: 0%;
    height: 100%;
    border-top: 3px solid #55efc4;
    transition: all 2s ;
    top:0%;
    left: 0%;
    z-index: -1;
}
.btnlog:hover::after{
    width: 100%;
}
.fullnav{
    background-color: #ffffb3;
}
.gradient-custom {
    /* fallback for old browsers */
    background: #6a11cb;
  
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, rgba(106, 17, 203, 1), rgba(37, 117, 252, 1));
  
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, rgba(106, 17, 203, 1), rgba(37, 117, 252, 1))
  }